<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IndFusion.Ember.Local" value="F:\Dynamic\IndFusion\IndFusion.Ember\IndFusion.Ember\code\src\IndFusion.Ember\bin\Release" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="IndFusion.Ember.Local">
      <package pattern="IndFusion.Ember" />
    </packageSource>
  </packageSourceMapping>
</configuration>
